<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="getBooks"></div>

    <form id ="getBooks">
        <h5>add Book</h5>
        <input type="text" id="name" name="name" placeholder="required">
        <input type="text" id="author" name="author" placeholder="required">
        <input type="text" id="year" name="year" placeholder="required">
        <input type="number" id="page_count" name="page_count" placeholder="required">
        <input type="text" id="publisher" name="publisher" placeholder="publisher" required>
        <input type="submit" value="kirim">
    </form>
    <script>
        const url = "http://localhost:4000"
    </script>
    <script src="./javasript/getBook.js"></script>
    <script src="./javasript/addBook.js"></script>

</body>
</html>