ul {
    list-style-type: none;
    margin: 16px 32px;
    overflow: hidden;
}

li {
    float: right;
}



li button {
    clear: left;
    float: right;
    color: #f8f8f7;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    background-color:orange;
    width: 200px;
    border-radius: 20px;
}


    
  

img {
    float: right;
    width: 500px;
 
    height: auto;
    border-radius: 10px;
    margin: auto;
    margin-top: -150px;
}

.content1 {
    clear: right;
    margin-top: 210px;
    padding: 0 48px 48px 48px;
    border-radius: 500px;
}

.text1 {
    clear: right;
    margin: 0 64px;
    font-size: 18px;
    display: flex;
    align-items: center;
}

h1 {
    clear: right;
  margin-top: 0;
}




h1 {
    color: black;
}

.mobile {
    color: black;
}

.content2 {
    clear: right;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 20px;
    
    padding: 20px;
  }
  
  .card {
    background-color: orange;
    width: 300px;
    padding: 20px;
    margin: 100px 0;
    text-align: center;
    border-radius: 10px;
    
  }
  .card:hover{background-color: red;}
/*   
footer{
  text-align: center;
  background-color: orange;
  color: black;
}
h1{
  color: rgb(242, 236, 236);
  padding: 10;
}
.gambar{
  text-align: center;
 
  background-position: center;
  transition: 0.3s;
    max-width: 500px;
    height: 300px;
    min-height: 350px;
    padding: 20px;
    margin:auto ;
   text-align: center;
  
} */