
.buttonadmin{
    border-radius: 20px;
    width: 100px;
    height: 40px;
    margin-bottom: 50px;
    margin-top: -10px;
    border: none;
    float: right;
    background-color: orange;
    text-align: center;
}

.buttonadmin a {
    font-family:'Times New Roman', Times, serif;
    text-decoration: none;
    color: black;
    
}

.pengaduan {
    margin-bottom: 50px;
    padding: 3px;
    
}

.gambar{
    width: 63%;
    float: right;
    margin-top:-130px ;
}

.data{
    display: flex; 
    flex-wrap: wrap; 
    flex-direction: row; 
    justify-content: center; 
}
.item{
    width: 333px;
height: 90px;
background-color: orange;
margin: 3px;
box-sizing: border-box;
flex-grow:1; 
flex-shrink: 1; 
font-size: 20px;
text-align: center;
padding: 25px;
}

.data{
    margin-top: 26%;
}



.kontak {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    max-width: 600px;
    margin-top: 150px;
    margin-bottom: 30px;
    margin-left: 30px;
    float: left;
  }

  .kontak h2{
    text-align: center;
  }

  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  input[type=submit] {
    background-color: orange;
    color: black;
    padding: 6px 20px;
    float: right;
    border: none;
    border-radius: 15px;
    width: 100px;
    height: 25px;
    text-align: center;
    cursor: pointer;
  }

  input[type=submit]:hover {
    background-color: black;
    color: white;
  }
  
  .footer {
    position: absolute;
    left: 0;
    bottom: -78%;
    width: 100%;
    background-color: orange;
    color: black;
    text-align: center;
  }

  .laporan{
    padding: 20px;
    max-width: 600px;
    margin-top: 120px;
    margin-bottom: 30px;
    margin-left: 30px;
    float: left;
  }

  .itemm{
    width: 158%;
    height: 200px;
    border-style: solid;
    border-width: 3px;
    overflow: hidden;
    margin: 3px;
    box-sizing: border-box;
    flex-grow:1; 
    flex-shrink: 1;
    padding-right: 5px;
}

.itemm p {
    font-size: 15px;
    float: right;

}

.itemm .im{
    float: left;
    margin-top: 70px;
    margin-left: 10px;
}

.itemm img{
    width: 150px;
    height: 100px;
    margin-left: 270px;
    margin-top: 5px;
}

.con {
  justify-content: center;
  max-width: 500px;
  width: 500px;
  margin: 0 auto;
  padding: 20px;
  overflow: auto;
  background-color: #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.con h1{
  text-align: center;
}

.con form label {
  font-weight: bold;
}

.con form input[type="text"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.con form input[type="password"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.masuk{
  background-color: orange;
  color: black;
  border: none;
  margin-left: 85%;
  padding: 7px 15px;
  text-align: center;
  border-radius: 15px;
  cursor: pointer;
  text-decoration: none;
}
.batal{
  background-color: gray;
  color: black;
  border: none;
  margin-left: 25%;
  padding: 7px 15px;
  text-align: center;
  border-radius: 15px;
  cursor: pointer;
  text-decoration: none;
}

.con form input[type="submit"]:hover {
  background-color: oldlace;
}


  

