<<<<<<< HEAD
body{
    margin: 0;
}
.container {
    margin: 10px 100px;
  }
  @media screen and (max-width: 600px) {
    .container {
      margin: 0;
    }
  }
=======
body{
    margin: 0;
}
.container {
    margin: 10px 100px;
  }
  @media screen and (max-width: 600px) {
    .container {
      margin: 0;
    }
  }
>>>>>>> bdde0b02df05d1389d7945c78e501d2f46604574
