.content{
    background-color: salmon;
    padding-bottom: 50px;
    padding-top: 50px;
}

p{
    color: white;
}

#main{
    font-weight: bold;
}

img{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 300px;
    max-width: 100%;
}

.kolom{
    width: 250px;
    height: 120px;
    background-color: salmon;
    margin: 3px;
    box-sizing: border-box;
            padding: 10px;
    color: white;
  }
  .kolom1,.kolom2, .kolom3{
    float: left;
  }
  .kolom4{
    clear: left;
    width: 100%;
    background-color: cornflowerblue;
  }

  .flex-container{
	display: flex; /* mengubah ke mode flexbox */
	flex-wrap: wrap; /* mengatur item flexbox dapat diwrap/apabila container tidak cukup lagi untuk membungkus item, maka item akan diturunkan */ 
	flex-direction: row; /* Mengatur arah item ke row/satu baris */
	justify-content: center; /* mensejajarkan item selalu di tengah dalam satu baris */
}

.item{
	width: 333px;
	height: 120px;
	background-color: salmon;
	margin: 3px;
	box-sizing: border-box;
	flex-grow:1; /* mengatur setiap item flexbox dapat melebar 1 bagian dari total item*/
	flex-shrink: 1; /* mengatur setiap item flexbox dapat menciut 1 bagian dari total item*/
}